*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del navbar */
.navbar {
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

/* Estilos del texto a la izquierda */
.navbar-left {
    font-size: 1.5rem;
}

/* Estilos de los enlaces a la derecha */
.navbar-right {
    display: flex;
    align-items: center;
}

/* Estilos de los enlaces de navegación */
.navbar-link {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 1rem;
}

.navbar-logo {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

/* Estilos para el enlace de cerrar sesión */
.logout-link {
    display: flex;
    align-items: center;
}

/* Estilos para el ícono de cerrar sesión */
.icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

.contendor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
    color: black;
    padding: 2rem;
    font-size: 46px;
    font-weight: 400;
    text-align: center;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto {
    max-width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-align: center;
}

.producto-imagen {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.producto-nombre {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.producto-descripcion {
    font-size: 0.9rem;
    margin-bottom: 10px;
    max-width: 200px;
}

.producto-precio,
.producto-categoria {
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 5px;
}

.agregar-carrito {
    margin-top: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-producto{
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: #221fe9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editar-producto {
    text-decoration: none;
    margin-top: 5px;
    background-color: #e97a1f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.agregar-carrito:hover {
    background-color: #0056b3;
}