<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Link de Font Awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {{!-- Link de Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/buy-complete.css">
    <title>Carrito</title>
</head>
<body>
    {{!< layouts/main }}
        <header>
            <nav class="navbar">
                <div class="navbar-left">
                    <p class="navbar-text"><a href="/" class="navbar-logo">Tienda Tecnologica</a></p>
                </div>
                <div class="navbar-right">
                    <a href="/" class="navbar-link">Inicio</a>
                    <a href="/products" class="navbar-link">Productos</a>
                    <a href="/cart" class="navbar-link cart-link">
                        <i class="fas fa-shopping-cart"></i> <!-- Icono de carrito -->
                        Carrito
                    </a>
                    <a href="/logout" class="navbar-link logout-link">
                        <span class="icon">&#128274;</span> Cerrar Sesión
                    </a>
                </div>
            </nav>
        </header>

        <h1 class="titulo">Compra Realizada con exito</h1>

        <h2>El ID de su orden es: <span id="orderId"></span></h2>

        <div class="contenedor-boton">
            <button><a href="/">Volver al Inicio</a></button>
        </div>

    <script>
        // JavaScript para obtener el ID de la orden de la URL y mostrarlo en la página
        window.addEventListener('DOMContentLoaded', (event) => {
            const urlParams = new URLSearchParams(window.location.search);
            const orderId = urlParams.get('id');
            if (orderId) {
                document.getElementById('orderId').textContent = orderId;
            }
        });
    </script>

</body>
</html>
